.teammatchescontainer {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#d91c1f, #1e293b);
}
.teambanner {
  height: 15%;
  width: 100%;
}
.matchcard {
  background-color: black;
  border-style: solid;
  border-width: 2px;
  border-color: yellow;
  padding: 10px;
}
